/* Main Navbar */
.header-navbar {
    padding: 15px 30px;
    height: 80px;
    background-color: #C7D2A0;
    z-index: 1050;
  }
  
  /* Style for Navbar Links */
  .nav-item {
    font-size: 18px;
    font-weight: 600;
  }
  
  /* Background only when the navbar is toggled on small screens */
  .logout{
    margin-right: 40px;
  }
  @media (max-width: 991px) {
    #navbarNav.show {
      background: rgba(255, 255, 255, 10);
      border-radius: 10px;
      top: 25px;
    }
    .navbar{
      padding: 0px;
    }
    .logout{
      /* margin-left: 24px; */
      margin: 20px 0;
    }
  }

