.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 10px;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 100px !important;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 1;
}

.carousel-control-prev {
    left: -30px;
}

.carousel-control-next {
    right: -30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

@media (max-width: 768px) {
    .carousel-inner {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-left: 0px !important;
        justify-content: center;
    }

    .batch-circle {
        width: 100px !important;
        height: 100px !important;
        min-width: 100px !important;
        font-size: 25px !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
        top: 75px !important;
    }

    .carousel-control-next {
        right: 0;
    }

    .carousel-control-prev {
        left: 0;
    }

    .position-relative {
        padding: 30px 50px !important;
    }

    .batch-circle:hover {
        color: black !important;
        border: 5px solid #00AB66;
        font-weight: 600;
    }
}